{% extends 'static.html' %}
{% load static %}

{% block bodycontent %}
<!-- faq-banner -->
	<div class="faq">
		<h4 class="latest-text w3_faq_latest_text w3_latest_text">List By Gender</h4>
			<div class="container">
				<div class="agileits-news-top">
					<ol class="breadcrumb">
					  <li><a href="index.html">Home</a></li>
					  <li>Genres</li>
                        <li class="active">Type</li>
					</ol>
				</div>
				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">

						<div id="myTabContent" class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
								<div class="agile-news-table">
									<div class="w3ls-news-result">
										<h4>Search Results : <span>25</span></h4>
									</div>
									<table id="table-breakpoint">
										<thead>
										  <tr>
											<th>No.</th>
											<th>Name</th>
											<th>Movies</th>

										  </tr>
										</thead>
										<tbody>

										  <tr>
											<td>24</td>
											<td class="w3-list-img"><a href="movie.html"> <span>001 Southside with you</span></a></td>
											<td>2011</td>

										  </tr>
                                        <tr>
											<td>24</td>
											<td class="w3-list-img"><a href="movie.html"> <span>001 Southside with you</span></a></td>
											<td>2011</td>

										  </tr>
                                        <tr>
											<td>24</td>
											<td class="w3-list-img"><a href="movie.html"> <span>001 Southside with you</span></a></td>
											<td>2011</td>

										  </tr>
                                        <tr>
											<td>24</td>
											<td class="w3-list-img"><a href="movie.html"> <span>001 Southside with you</span></a></td>
											<td>ESTE E UM FILME QUE ELE QUER</td>

										  </tr>

										</tbody>
									</table>
								</div>
							</div>
							</div>
				</div>
			</div>
	</div>
<!-- //faq-banner -->
{% endblock %}