{% extends 'static.html' %}
{% load static %}

{% block bodycontent %}
	<div class="general">
		<h4 class="latest-text w3_latest_text">New</h4>
		<div class="container">
			<div class="bs-example bs-example-tabs" role="tabpanel">
				<div id="myTabContent" class="tab-content">
					<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
						<div class="w3_agile_featured_movies">

                            {% for movie in new %}
							<div class="col-md-2 w3l-movie-gride-agile">
								<a href="{% url 'movie' movie.id %}">
                                    <img data-imdb="{{ movie.id }}" title="{{ movie.title }}" class="img-responsive" alt="{{ movie.title }}" />
								</a>
								<div class="mid-1 agileits_w3layouts_mid_1_home">
									<div class="w3l-movie-text">
										<h6><a href="{% url 'movie' movie.id %}">{{ movie.title }}</a></h6>
									</div>
									<div class="mid-2 agile_mid_2_home">
										<p>2016</p>
										<div class="block-stars">
											<ul class="w3l-ratings">
                                                <li>
                                                    {{ movie.score }}<i class="fa ml-2 fa-star" aria-hidden="true"></i>
                                                </li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="ribben">
									<p>NEW</p>
								</div>
							</div>
                            {% endfor %}

							<div class="clearfix"> </div>
						</div>
					</div>

                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>


	<div class="general">
		<h4 class="latest-text w3_latest_text">Trending</h4>
		<div class="container">
			<div class="bs-example bs-example-tabs" role="tabpanel">
				<div id="myTabContent" class="tab-content">
					<div role="tabpanel" class="tab-pane fade active in" aria-labelledby="home-tab">
						<div class="w3_agile_featured_movies">

                            {% for movie in trending %}
							<div class="col-12 col-md-4 col-lg-2 w3l-movie-gride-agile">
								<a href="{% url 'movie' movie.id %}">
                                    <img data-imdb="{{ movie.id }}" title="{{ movie.title }}" class="img-responsive" alt="{{ movie.title }}" />
								</a>
								<div class="mid-1 agileits_w3layouts_mid_1_home">
									<div class="w3l-movie-text">
										<h6><a href="{% url 'movie' movie.id %}">{{ movie.title }}</a></h6>
									</div>
									<div class="mid-2 agile_mid_2_home">
										<p>{{ movie.year }}</p>
										<div class="block-stars">
											<ul class="w3l-ratings">
                                                <li>
                                                    {{ movie.score }}<i class="fa ml-2 fa-star" aria-hidden="true"></i>
                                                </li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
                            {% endfor %}

							<div class="clearfix"> </div>
						</div>
					</div>

                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block endbodycontent %}
<script>
    $('img[data-imdb]').each(function(){
        $.ajax({
            url: "https://www.omdbapi.com/?i=" + $(this).data('imdb') + "&apikey=f614bcc4"
        }).done(function(data){
            $('img[data-imdb=' + data['imdbID'] + ']').attr('src', data['Poster']);
        })
    });
</script>
{% endblock %}