{% extends 'static.html' %}
{% load static %}

{% block bodycontent %}
<!-- single -->
<div class="single-page-agile-main">
<div class="container">
		<!-- /w3l-medile-movies-grids -->
			<div class="agileits-single-top">
				<ol class="breadcrumb">
				  <li><a href="index.html">Home</a></li>
				  <li class="active">Details</li>
				</ol>
			</div>
            <h4 class="latest-text w3_faq_latest_text w3_latest_text">Details</h4>
			<div class="single-page-agile-info">
                   <!-- /movie-browse-agile -->
                <div class="show-top-grids-w3lagile">
				<div class="col-sm-12 single-left">

                    <div class="agile_tv_series_grid">

								<div class="col-md-6 " style="width: 100%">
                                    <div class="col-md-6">
                                     <center><img width="50%" src="{% static 'images/m11.jpg' %}" alt=" " class="img-responsive" /></center>
                                    </div>
                                    <div class="col-md-6 agile_tv_series_grid_right">
									<p class="fexi_header">the conjuring 2</p>
									<p class="fexi_header_para"><span class="conjuring_w3">Story Line<label>:</label></span> 720p,Bluray HD Free Movie Downloads, Watch Free Movies Online with high speed Free Movie Streaming | MyDownloadTube Lorraine and Ed Warren go to north London to help a single...</p>
									<p class="fexi_header_para"><span>Date of Release<label>:</label></span> Jun 10, 2016 </p>
									<p class="fexi_header_para">
										<span>Genres<label>:</label> </span>
										<a href="/genres/">Drama</a> |
										<a href="/genres/">Adventure</a> |
										<a href="/genres/">Family</a>
									</p>
									<p class="fexi_header_para fexi_header_para1"><span>Star Rating<label>:</label></span>
										<a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
									</p>
                                    <br>
                                        </div>
								</div>

					<div class="clearfix"> </div>


				</div>


				<div class="clearfix"> </div>
			</div>
				<!-- //movie-browse-agile -->
				<!--body wrapper start-->

							 
				</div>
				<!-- //w3l-latest-movies-grids -->

			</div>	
		</div>
	<!-- //w3l-medile-movies-grids -->
</div>
{% endblock %}