{% extends 'static.html' %}
{% load static %}

{% block headcontent %}
    <link href="{% static 'css/list.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/table-style.css' %}" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}

{% block bodycontent %}
    <div class="single-page-agile-main" typeof="Movie">
        <div class="container">
            <h4 class="latest-text w3_faq_latest_text w3_latest_text">{{ movie.title }}</h4>
            <div class="single-page-agile-info">
                <div class="show-top-grids-w3lagile">
                    <div class="col-sm-12 single-left">

                        <div class="agile_tv_series_grid">
                            <div class="col-md-6 " style="width: 100%">
                                <div class="col-md-6">
                                    <img data-imdb="{{ id }}" title="{{ movie.title }}" class="img-responsive" alt="{{ movie.title }}" />
                                </div>
                                <div class="col-md-6 agile_tv_series_grid_right">
                                    <p class="fexi_header">
                                        <span class="conjuring_w3">Year<label>:</label></span>
                                        {{ movie.year }}
                                    </p>
                                    <p class="fexi_header">
                                        <span class="conjuring_w3">Score<label>:</label></span>
                                        {{ movie.score }}<i class="fa ml-2 fa-star" aria-hidden="true"></i>
                                    </p>
                                    <p class="fexi_header">
                                        <span class="conjuring_w3">Director<label>:</label></span>
                                        <a href="{% url 'director' movie.director_id %}">
                                            <span property="director">{{ movie.director }}</span>
                                        </a>
                                    </p>
                                    <p class="fexi_header">
                                        <span>Genres<label>:</label> </span>
                                        {% for genre in movie_genres %}
                                            <a href="{% url 'genre' genre.id %}">
                                                <span>{{ genre.name }}</span>
                                            </a>
                                        {% endfor %}
                                    </p>
                                    <p class="fexi_header">
                                        <span>Actors<label>:</label> </span>
                                        {% for actor in actors %}
                                            <a href="{% url 'actor' actor.id %}">
                                                <span property="actor_name">{{ actor.name }}</span>
                                            </a>
                                        {% endfor %}
                                    </p>
                                    <br>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        <h3 class="latest-text w3_faq_latest_text w3_latest_text">Awards List</h3>
        <br>
			<div class="container">

				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">

						<div id="myTabContent" class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
								<div class="agile-news-table">
									<div class="w3ls-news-result">
										<h4>No Of Results : <span>{{ awards|length }}</span></h4>
									</div>
									<table id="table-breakpoint">
										<thead>
										  <tr>
											<th>No.</th>
											<th>Awards</th>
										  </tr>
										</thead>
										<tbody>
                                            {% for i in awards %}
                                                <tr>
											    <td>{{ forloop.counter }}</td>
											    <td property="award">{{ i.awardsLabel }}</td>
										        </tr>
										    {% endfor %}
										</tbody>
									</table>
								</div>
							</div>
                            </div>

				</div>
			</div>
	</div>
        </div>
    </div>


{% endblock %}


{% block endbodycontent %}
<script>
    $('img[data-imdb]').each(function(){
        $.ajax({
            url: "https://www.omdbapi.com/?i=" + $(this).data('imdb') + "&apikey=f614bcc4"
        }).done(function(data){
            $('img[data-imdb=' + data['imdbID'] + ']').attr('src', data['Poster']);
        })
    });
</script>
{% endblock %}