{% extends 'static.html' %}
{% load static %}

{% block headcontent %}
    <link href="{% static 'css/list.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/table-style.css' %}" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}



{% block bodycontent %}

    <!-- faq-banner -->
    {% if movies %}
        <div class="faq">

            <h4 class="latest-text w3_faq_latest_text w3_latest_text">Movies</h4>
            <div class="container">

                <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">

                    <div class="agile-news-table">
                        <div class="w3ls-news-re		lt">
                            <h4>Search Results : <span>{{ movies|length }}</span></h4>
                            <br>
                        </div>
                        <table id="table-breakpoint">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>Title</th>
                                <th>Year</th>
                                <th>Score</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for i in movies %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td class="w3-list-img"><a href="{% url 'movie' i.id %}"> <span>{{ i.title }}</span></a>
                                    </td>
                                    <td>{{ i.year }}</td>
                                    <td>{{ i.score }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>

                <div style="height: 30px"></div>
                <hr>

            </div>
        </div>

    {% endif %}
{% if directors %}
    <div class="faq">

            <h4 class="latest-text w3_faq_latest_text w3_latest_text">Directors</h4>
            <div class="container">

                <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">

                    <div class="agile-news-table">
                        <div class="w3ls-news-re		lt">
                            <h4>Search Results : <span>{{ directors|length }}</span></h4>
                            <br>
                        </div>
                        <table id="table-breakpoint">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>No. Movies</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in directors %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td class="w3-list-img"><a href="{% url 'director' i.id %}">
                                        <span>{{ i.name }}</span></a></td>
                                    <td>{{ i.movies }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div style="height: 30px"></div>
                <hr>
            </div>


            </div>
        {% endif %}

    {% if actors %}
        <div class="faq">
            <h4 class="latest-text w3_faq_latest_text w3_latest_text">Actors</h4>
            <div class="container">

                <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">

                    <div class="agile-news-table">
                        <div class="w3ls-news-re		lt">
                            <h4>Search Results : <span>{{ actors|length }}</span></h4>
                            <br>
                        </div>
                        <table id="table-breakpoint">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>No. Movies</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for i in actors %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td class="w3-list-img"><a href="{% url 'actor' i.id %}"> <span>{{ i.name }}</span></a>
                                    </td>
                                    <td>{{ i.movies }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div style="height: 30px"></div>
                <hr>
            </div>


        </div>
    {% endif %}

    </div>
    <!-- //faq-banner -->
    <!-- footer -->

{% endblock %}